/* ------------------------------------------------------------------ */
/* b. Main - Education
/* ------------------------------------------------------------------ */
main {
	text-align: center;
}

/* ------------------------------------------------------------------ */
/* b. Main - Education - Text
/* ------------------------------------------------------------------ */
.bu {
	color: rgb(255, 211, 211);
}
.fhhs {
	color: rgb(211, 218, 255);
}
.edu-container .class-list {
	font-size: calc(13px + 0.390625vw);
	margin-top: 10px;
	text-decoration: underline;
	color: rgb(224, 224, 224);
}
.edu-container .classes {
	color: rgb(216, 216, 216);
	margin: 5px 0 10px;
}

/* ------------------------------------------------------------------ */
/* c. Main - Education - Image
/* ------------------------------------------------------------------ */
.edu-img {
	max-width: 135px; 
	margin-top: 20px;
}