/* ------------------------------------------------------------------ */
/* a. Main - Experience
/* ------------------------------------------------------------------ */
main {
	text-align: center;
}

/* ------------------------------------------------------------------ */
/* b. Main - Experience - Text
/* ------------------------------------------------------------------ */
.mlh {
	color: rgb(211, 212, 255);
}
.star {
	color: rgb(214, 255, 211);
}
.exp-container .desc {
	font-size: calc(13px + 0.390625vw);
	margin: 10px 30px 10px;
	color: rgb(224, 224, 224);
}
.exp-container .classes {
	color: rgb(216, 216, 216);
	margin: 5px 0 10px;
}

/* ------------------------------------------------------------------ */
/* c. Main - Experience - Image
/* ------------------------------------------------------------------ */
.logo {
	max-width: 135px; 
	margin-top: 20px;
}